<template>
  <div>
    <div class="item" @click="changeShowList(null)" @keypress="changeShowList(null)"
    :class="{'bold': bold, 'bold--active': bold}">
      <template v-if="!title">{{text}}</template>
      <template v-else>{{title}}</template>
      <svg class="item__arrow" :class="{'item__arrow--active': isShowList}">
        <use xlink:href="#arrow-item"></use>
      </svg>
    </div>
    <div class="list-items" v-if="isShowList">
      <div class="item" v-for="(item, index) in dropdown" :key="index"
       @click="changeShowList(index)" @keypress="changeShowList(index)"
       :class="{'bold': bold}">
        {{item.title}}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'DropdownItem',
  props: {
    text: String,
    dropdown: Array,
    activeType: {
      type: String,
    },
    bold: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    isShowList: false,
    title: '',
  }),
  computed: {
  },
  methods: {
    changeShowList(index) {
      if (index !== null) {
        const activeElement = this.dropdown[index];
        this.$store.state[this.activeType] = activeElement.value;
        this.title = activeElement.title;
      }
      this.isShowList = !this.isShowList;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
