.item{
  border-radius: 2px;
  max-width: 248px;
  height: 32px;
  width: 100%;
  border: 1px solid #D9D9D9;
  color: #A5A5A5;
  background: #FFFFFF;
  padding: 8px 12px;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  &__arrow{
    position: absolute;
    right: 13px;
    top: 13px;
    width: 10px;
    height: 6px;
    &--active{
      transform: rotate(0.5turn);
    }
  }
  &__bold{
    font-weight: 700;
    font-size: 14px;
    color: #2B2839;
  }
}
.list-items {
  position: absolute;
  width: 100%;
  font-size: 12px;
}
.bold{
  color: #2B2839;
  &--active{
    font-weight: 700;
    font-size: 14px;
  }
}