.table{
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  
  @media screen and (max-width: 1260px) {
    justify-content: space-between;
  }
  &__card{
    width: 33%;
    max-width: 290px;
    @media screen and (min-width: 1260px) {
      &:not(:nth-child(3n+3)){
        margin-right: 15px;
      }
    }
    
    @media screen and (max-width: 1260px) {
      width: 50%;
    }
  }
}