<template>
  <div class="table">
    <CardItem v-for="card in cloneData" :key="card.id" :card="card" class="table__card"></CardItem>
  </div>
</template>

<script>
// @ is an alias to /src

import { mapGetters } from 'vuex';
import CardItem from '@/components/card/CardItem.vue';

export default {
  name: 'TableView',
  components: {
    CardItem,
  },
  computed: {
    ...mapGetters({
      cloneData: 'cloneData',
    }),
  },
};
</script>

<style scoped lang="scss">
  @import "./index.scss";
</style>
