<template>
  <div>
    <input :placeholder="placeholder" v-model="inputValue">
  </div>
</template>

<script>
export default {
  name: 'InputItem',
  props: {
    placeholder: String,
  },
  computed: {
    inputValue: {
      get() {
        return this.$store.state.inputValue;
      },
      set(value) {
        this.$store.commit('updateInputValue', value);
      },
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
