.list{
  width: 100%;
  max-width: 912px;
  margin-top: 16px;
  font-size: 14px;
  color: #000000;
  &__head{
    display: grid;
    grid-template-columns: 14% 27% 22% 30% 7%;
    &-item{
      background-color: #E6E6E6;
      height: 40px;
      font-weight: 700;  
      padding: 13px 0;
      text-align: center;
      &:not(:last-child){
        margin-right: 3px;
      }
    }
  }
  &__items{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
  }
  &__element{
    display: grid;
    grid-template-columns: 14% 27% 22% 30% 7%;
    padding: 12px 0;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
  }
  &__id{
    padding-left: 16px;
  }
  &__delete{
    margin: auto;
    svg{
      width: 4px;
      height: 14px;
      fill: #647A8C;
      &:hover{
        cursor: pointer;
        fill: #045DA7;
      }
    }
  }
}