<template>
  <div class="list">
    <div class="list__head">
      <div class="list__head-item">ID</div>
      <div class="list__head-item">Номер накладной</div>
      <div class="list__head-item">Тип заказа</div>
      <div class="list__head-item">Дата создания</div>
      <div class="list__head-item"></div>
    </div>
    <div class="list__items">
      <div class="list__element" v-for="item in cloneData" :key="item.id">
        <div class="list__id">{{item.id}}</div>
        <div class="list__number">{{item.number}}</div>
        <div class="list__type">{{translateType(item.type)}}</div>
        <div class="list__date">{{changeDate(item.creationDate)}}</div>
        <DeleteItem :id="item.id"></DeleteItem>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import { mapGetters } from 'vuex';
import { dateFormat } from '@/utilities/helpers';
import DeleteItem from '../../components/delete/DeleteItem.vue';

export default {
  name: 'ListView',
  components: {
    DeleteItem,
  },
  computed: {
    ...mapGetters({
      cloneData: 'cloneData',
      typeTranslate: 'typeTranslate',
    }),
  },
  methods: {
    translateType(name) {
      return this.typeTranslate.find((i) => i.en === name).ru;
    },
    changeDate(date) {
      return dateFormat(date);
    },
  },
};
</script>

<style scoped lang="scss">
  @import "./index.scss";
</style>
