<!-- eslint-disable max-len -->

<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none">
        <symbol id="arrow-item" width="10" height="6" viewBox="0 0 10 6" fill="none">
            <path d="M9.88588 0.585657C9.73348 0.432942 9.48617 0.432708 9.33344 0.585091L5.27621 4.6339C5.12389 4.7862 4.87609 4.78618 4.7235 4.63361L0.666563 0.585091C0.513848 0.432688 0.266543 0.432942 0.114121 0.585657C-0.0382615 0.738372 -0.0380076 0.985696 0.114688 1.13808L4.17135 5.18632C4.39988 5.41482 4.69998 5.52904 5.00012 5.52904C5.30008 5.52904 5.6001 5.41486 5.82834 5.1866L9.88531 1.13808C10.038 0.985696 10.0383 0.738372 9.88588 0.585657Z" fill="black"/>
        </symbol>

        <symbol id="toggle-table" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M5.99999 9.1429H4.28568C4.20831 9.1429 4.14135 9.17104 4.08481 9.22762C4.02824 9.28422 4 9.35121 4 9.42861V11.1429C4 11.2202 4.02824 11.2873 4.08481 11.3438C4.14138 11.4002 4.20831 11.4286 4.28568 11.4286H5.99999C6.07736 11.4286 6.14432 11.4003 6.20086 11.3438C6.25743 11.2872 6.28567 11.2202 6.28567 11.1429V9.42861C6.28567 9.35121 6.2574 9.28422 6.20086 9.22762C6.14432 9.17114 6.07736 9.1429 5.99999 9.1429Z" fill="#045DA7"/>
            <path d="M5.99999 16.0001H4.28568C4.20831 16.0001 4.14135 16.0281 4.08481 16.0847C4.02824 16.1413 4 16.2082 4 16.2856V18C4 18.0773 4.02824 18.1442 4.08481 18.2008C4.14138 18.2575 4.20831 18.2857 4.28568 18.2857H5.99999C6.07736 18.2857 6.14432 18.2574 6.20086 18.2008C6.25743 18.1443 6.28567 18.0773 6.28567 18V16.2856C6.28567 16.2082 6.2574 16.1413 6.20086 16.0847C6.14432 16.0283 6.07736 16.0001 5.99999 16.0001Z" fill="#045DA7"/>
            <path d="M5.99999 12.5713H4.28568C4.20831 12.5713 4.14135 12.5997 4.08481 12.6562C4.02827 12.7126 4 12.7798 4 12.8571V14.5713C4 14.6488 4.02824 14.7158 4.08481 14.7723C4.14138 14.8288 4.20831 14.857 4.28568 14.857H5.99999C6.07736 14.857 6.14432 14.8289 6.20086 14.7723C6.25743 14.7158 6.28567 14.6488 6.28567 14.5713V12.8571C6.28567 12.7798 6.2574 12.7128 6.20086 12.6562C6.14432 12.5997 6.07736 12.5713 5.99999 12.5713Z" fill="#045DA7"/>
            <path d="M5.99999 5.71426H4.28568C4.20831 5.71426 4.14135 5.7425 4.08481 5.79908C4.02827 5.85565 4 5.9226 4 5.99997V7.71426C4 7.79166 4.02824 7.85858 4.08481 7.91515C4.14138 7.97173 4.20831 7.99996 4.28568 7.99996H5.99999C6.07736 7.99996 6.14432 7.97182 6.20086 7.91515C6.25743 7.85858 6.28567 7.79166 6.28567 7.71426V5.99997C6.28567 5.92257 6.2574 5.85565 6.20086 5.79908C6.14432 5.74266 6.07736 5.71426 5.99999 5.71426Z" fill="#045DA7"/>
            <path d="M19.7142 16.0001H7.71427C7.6369 16.0001 7.56994 16.0281 7.5134 16.0847C7.45683 16.1413 7.42859 16.2082 7.42859 16.2857V18.0001C7.42859 18.0773 7.45683 18.1442 7.5134 18.2008C7.56997 18.2575 7.6368 18.2857 7.71427 18.2857H19.7142C19.7917 18.2857 19.8586 18.2575 19.9152 18.2008C19.9718 18.1442 20 18.0773 20 18.0001V16.2857C20 16.2082 19.9717 16.1413 19.9152 16.0847C19.8586 16.0283 19.7917 16.0001 19.7142 16.0001Z" fill="#045DA7"/>
            <path d="M19.7142 12.5713H7.71427C7.6369 12.5713 7.56994 12.5997 7.5134 12.6562C7.45686 12.7126 7.42859 12.7798 7.42859 12.8571V14.5713C7.42859 14.6488 7.45683 14.7158 7.5134 14.7723C7.56997 14.8288 7.6368 14.857 7.71427 14.857H19.7142C19.7917 14.857 19.8586 14.8289 19.9152 14.7723C19.9718 14.7158 20 14.6488 20 14.5713V12.8571C20 12.7798 19.9717 12.7128 19.9152 12.6562C19.8586 12.5997 19.7917 12.5713 19.7142 12.5713Z" fill="#045DA7"/>
            <path d="M19.9152 5.79908C19.8586 5.74263 19.7917 5.71426 19.7142 5.71426H7.71427C7.6369 5.71426 7.56994 5.7425 7.5134 5.79908C7.45686 5.85565 7.42859 5.92257 7.42859 5.99997V7.71426C7.42859 7.79166 7.45683 7.85858 7.5134 7.91515C7.56997 7.97173 7.6368 7.99996 7.71427 7.99996H19.7142C19.7917 7.99996 19.8586 7.97182 19.9152 7.91515C19.9718 7.85858 20 7.79166 20 7.71426V5.99997C19.9999 5.9226 19.9717 5.85565 19.9152 5.79908Z" fill="#045DA7"/>
            <path d="M19.7142 9.1429H7.71427C7.6369 9.1429 7.56994 9.17104 7.5134 9.22762C7.45683 9.28422 7.42859 9.35121 7.42859 9.42861V11.1429C7.42859 11.2202 7.45683 11.2872 7.5134 11.3438C7.56997 11.4002 7.6368 11.4286 7.71427 11.4286H19.7142C19.7917 11.4286 19.8586 11.4003 19.9152 11.3438C19.9718 11.2872 20 11.2202 20 11.1429V9.42861C20 9.35121 19.9717 9.28422 19.9152 9.22762C19.8586 9.17114 19.7917 9.1429 19.7142 9.1429Z" fill="#045DA7"/>
        </symbol>

        <symbol id="toggle-list" width="16" height="10" viewBox="0 0 16 10" fill="none">
            <line y1="1" x2="16" y2="1" stroke="#045DA7" stroke-width="2"/>
            <line y1="5" x2="16" y2="5" stroke="#045DA7" stroke-width="2"/>
            <line y1="9" x2="16" y2="9" stroke="#045DA7" stroke-width="2"/>
        </symbol>

        <symbol id="extra" width="4" height="14" viewBox="0 0 4 14" >
            <path  d="M4 1.75C4 0.7875 3.1 0 2 0C0.9 0 0 0.7875 0 1.75C0 2.7125 0.9 3.5 2 3.5C3.1 3.5 4 2.7125 4 1.75ZM4 12.25C4 11.2875 3.1 10.5 2 10.5C0.9 10.5 0 11.2875 0 12.25C0 13.2125 0.9 14 2 14C3.1 14 4 13.2125 4 12.25ZM4 7C4 6.0375 3.1 5.25 2 5.25C0.9 5.25 0 6.0375 0 7C0 7.9625 0.9 8.75 2 8.75C3.1 8.75 4 7.9625 4 7Z"/>
        </symbol>

        <symbol id="trash" width="10" height="12" viewBox="0 0 10 12">
            <path d="M8.94302 3.33334H1.0571C0.818458 3.33334 0.625 3.51431 0.625 3.7376V10.0532C0.625 11.1267 1.55841 12 2.70559 12H7.29433C8.44161 12 9.375 11.1267 9.375 10.0532V3.7376C9.375 3.51437 9.18165 3.33334 8.94302 3.33334ZM3.96132 9.56509C3.96132 9.83936 3.72371 10.0617 3.43046 10.0617C3.1374 10.0617 2.89961 9.83936 2.89961 9.56509V5.76827C2.89961 5.49394 3.13734 5.27161 3.43046 5.27161C3.72365 5.27161 3.96132 5.494 3.96132 5.76827V9.56509ZM7.10038 9.56509C7.10038 9.83936 6.86271 10.0617 6.56953 10.0617C6.27646 10.0617 6.03867 9.83936 6.03867 9.56509V5.76827C6.03867 5.49394 6.2764 5.27161 6.56953 5.27161C6.86271 5.27161 7.10038 5.494 7.10038 5.76827V9.56509Z"/>
            <path d="M8.64331 0.580362H6.68968V0.439447C6.68968 0.197134 6.45268 0 6.16137 0H3.83868C3.54737 0 3.3103 0.197134 3.3103 0.439447V0.580362H1.35671C0.608638 0.580362 0 1.08655 0 1.70875V2.43233C0 2.56173 0.126125 2.66667 0.281775 2.66667H9.71831C9.87388 2.66667 10 2.56173 10 2.43233V1.70875C10 1.08656 9.39144 0.580362 8.64331 0.580362Z"/>
        </symbol>

    </svg>
</template>
