<template>
  <div class="block">
    <div class="title">Фильтр</div>
    <div class="subtitle">Номер накладной:</div>
    <InputItem :placeholder="'Введите фрагмент'"/>
    <div class="subtitle">Тип заказа:</div>
    <DropdownItem :text="'Выберите из списка'" :dropdown="dropdownFilter"
    :activeType="'activeFilter'"/>
  </div>
</template>

<script>
import InputItem from '@/components/input/InputItem.vue';
import { mapGetters } from 'vuex';
import DropdownItem from '../dropdown/DropdownItem.vue';

export default {
  name: 'FilterItem',
  components: {
    InputItem,
    DropdownItem,
  },
  props: {
    msg: String,
  },
  computed: {
    ...mapGetters({
      dropdownFilter: 'dropdownFilter',
    }),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
