.block{
  padding: 8px 16px 16px;
  background-color: #FFF;
  filter: drop-shadow(0px 4px 8px rgba(179, 178, 178, 0.25));
}
.title{
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 8px;
}
.subtitle{
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 4px;
  padding-top: 16px;
}