<template>
  <div class="card" >
    <div class="card__header">
      <div class="">{{card.id}}</div>
      <DeleteItem :id="card.id" class="card__header-delete"></DeleteItem>
    </div>
    <div class="card__body">
      <div class="card__item">
        <div class="card__item-title">Номер накладной:</div>
        <div class="card__item-value">{{card.number}}</div>
      </div>
      <div class="card__item">
        <div class="card__item-title">Тип заказа:</div>
        <div class="card__item-value">{{translateType(card.type)}}</div>
      </div>
      <div class="card__item card__item-date">
        <div class="card__item-title">Дата создания:</div>
        <div class="card__item-value">{{changeDate(card.creationDate)}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { dateFormat } from '@/utilities/helpers';
import { mapGetters } from 'vuex';
import DeleteItem from '../delete/DeleteItem.vue';

export default {
  name: 'CardItem',
  data: () => ({}),
  props: {
    card: Object,
  },
  computed: {
    ...mapGetters({
      typeTranslate: 'typeTranslate',
    }),
  },
  methods: {
    translateType(name) {
      return this.typeTranslate.find((i) => i.en === name).ru;
    },
    changeDate(date) {
      return dateFormat(date);
    },
  },
  components: { DeleteItem },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
