.card{
  height: 160px;
  background-color: #FFF;
  box-shadow: 0px 4px 12px rgba(213, 213, 213, 0.25);
  border-radius: 3px;
  margin-bottom: 16px;
  &__header{
    background: rgba(237, 232, 245, 0.5);
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    &-delete{
      margin: 0;
    }
  }
  &__body{
    padding: 8px 16px;
  }
  &__item{
    height: 32px;
    display: flex;
    &-title{
      width: 50%;
      font-weight: 700;
      font-size: 14px;
      color: #647A8C;
    }
    &-value{
      width: 50%;
    }
    &-date{
      margin-top: 8px;
    }
  }
}