<template>
  <div class="content">
    <div class="aside">
      <FilterItem></FilterItem>
    </div>
    <div class="main">
      <div class="main__wrapper">
        <SortItem class="main__sort"></SortItem>
        <ToggleItem class="main__toggle"></ToggleItem>
      </div>
      <router-view/>
    </div>
    <IconsSprite></IconsSprite>
  </div>
</template>

<script>

import FilterItem from '@/components/filter/FilterItem.vue';
import IconsSprite from '@/components/IconsSprite/IconsSprite.vue';
import SortItem from '@/components/sort/SortItem.vue';
import ToggleItem from '@/components/toogle/ToggleItem.vue';

export default {
  name: 'ContentView',
  components: {
    FilterItem,
    IconsSprite,
    SortItem,
    ToggleItem,
  },
};
</script>

<style scoped lang="scss">
  @import "./index.scss";
</style>
