.content{
  display: flex;
  flex-basis: max-content;
  .aside{
    display: block;
    width: 100%;
    max-width: 280px;
  }
  .main{
    display: block;
    width: 100%;
    margin-left: 16px;
    &__sort{
      width: 100%;
      max-width: 815px;
      margin-right: 16px;
    }
    &__wrapper{
      display: flex;
    }
  }
}
.aside{
  
}