<template>
  <div id="app">
    <ContentView></ContentView>
  </div>
</template>
<script>
import ContentView from './views/Content/ContentView.vue';

export default {
  name: 'HomeView',
  components: {
    ContentView,
  },
};
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-family: 'Roboto', sans-serif;
$main-color: #000000;
$font-size: 14px;
body {
  background: #F8F8F8;
}
*{box-sizing: border-box}
#app {
  max-width: 1440px;
  margin: 32px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: $font-family;
  color: $main-color;
  font-size: $font-size;
  input{
    font-family: $font-family;
    color: $main-color;
    font-size: $font-size;
  }
  *:focus {
    outline: none;
  }
}
</style>
