<template>
  <div class="delete" >
    <svg class="" @click="showDelete = true" @keypress="showDelete = true">
      <use xlink:href="#extra"></use>
    </svg>
    <div class="delete__lunge" v-if="showDelete" v-click-outside="hide"
    @click="deleteItem(id)" @keypress="deleteItem(id)">
      <svg class="">
        <use xlink:href="#trash"></use>
      </svg>
      <div class="delete__lunge-text">удалить</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'DeleteItem',
  data: () => ({
    showDelete: false,
  }),
  props: {
    id: String,
  },
  computed: {
  },
  methods: {
    ...mapActions({
      deleteItem: 'deleteItem',
    }),
    hide() {
      this.showDelete = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
