.delete{
  margin: auto;
  position: relative;
  svg{
    width: 4px;
    height: 14px;
    fill: #647A8C;
    &:hover{
      cursor: pointer;
      fill: #045DA7;
    }
  }
  &__lunge{
    width: 148px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
    border-radius: 2px;
    position: absolute;
    padding: 14px;
    right: 0;
    display: flex;
    color: #2B2839;
    &-text{
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
      padding-left: 11px;
    }
    &:hover{
      cursor: pointer; 
      color: #045DA7;
      svg{
        fill: #045DA7;
      }
    }
    svg{
      fill: "#647A8C";
      width: 10px;
      height: 12px;
      position: relative;
    }
  }
}