<template>
  <div class="block">
    <DropdownItem :text="'Сортировка'" :dropdown="dropdownSort"
    :activeType="'activeSort'" :bold="true"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DropdownItem from '../dropdown/DropdownItem.vue';

export default {
  name: 'SortItem',
  components: {
    DropdownItem,
  },
  computed: {
    ...mapGetters({
      dropdownSort: 'dropdownSort',
    }),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
