.toggle{
  display: flex;
  align-items: center;
  &__item{
    width: 40px;
    height: 40px;
    background: #E5E9EC;
    border: 1px solid #647A8C;
    &:hover{
      cursor: pointer;
    }
  }
  &__list{
    border-radius: 0 25% 25% 0;    
    &-icon{
      margin: 14px 12px;
      width: 16px;
      height: 12px;
    }
  }
  &__table{
    border-radius: 25% 0 0 25%;
    &-icon{
      height: 24px;
      width: 24px;
      margin: 8px;
    }
  }
  &--active{
    background: #FFFFFF;
  }
}