<template>
  <div class="toggle">
    <div class="toggle__item toggle__table" :class="{'toggle--active': toggle === 'table'}"
    @click="redirect('table')" @keypress="redirect('table')">
      <svg class="toggle__table-icon">
        <use xlink:href="#toggle-table"></use>
      </svg>
    </div>
    <div class="toggle__item toggle__list" :class="{'toggle--active': toggle === 'list'}"
    @click="redirect('list')" @keypress="redirect('list')">
      <svg class="toggle__list-icon">
        <use xlink:href="#toggle-list"></use>
      </svg>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'ToggleItem',
  computed: {
    ...mapGetters({
      toggle: 'toggle',
    }),
  },
  methods: {
    ...mapActions({
      setToggle: 'setToggle',
    }),
    redirect(name) {
      this.setToggle(name);
      if (this.$route.name !== name) this.$router.push({ name });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
